{{template "base" .}}
{{define "title"}}Create a New Snippet{{end}}
{{define "body"}}
<form action='/snippet/create' method='POST'>
{{with .Form}}
<div>
<label>Title:</label>
{{with .Errors.Get "title"}}
<label class='error'>{{.}}</label>
{{end}}
<input type='text' name='title' value='{{.Get "title"}}'>
</div>
<div>
<label>Content:</label>
{{with .Errors.Get "content"}}
<label class='error'>{{.}}</label>
{{end}}
<textarea name='content'>{{.Get "content"}}</textarea>
</div>
<div>
<label>Delete in:</label>
{{with .Errors.Get "expires"}}
<label class='error'>{{.}}</label>
{{end}}
{{$exp := or (.Get "expires") "365"}}
  <input type="radio" name="expires" value="31536000" {{if (eq $exp "31536000")}}checked{{end}}> One Year
        <input type="radio" name="expires" value="86400" {{if (eq $exp "86400")}}checked{{end}}> One Day
        <input type="radio" name="expires" value="3600" {{if (eq $exp "3600")}}checked{{end}}> One Hour
</div>
<div>
<input type='submit' value='Publish snippet'>
</div>
{{end}}
</form>
{{end}}